$primary: #0c40fc;
$danger: #e35526;
$secondary: #001d29;
$light: #c4c4c4;

$white: white;
$black: black;

$primary-background-color: #f9fafa;

$primary-font-color: $secondary;
$primary-font-size: 18px;
$primary-font-family: Barlow;
$secondary-font-family: SourceSansPro;
